.App {
  text-align:center;
  padding:"10px";

}
.navbar{
  text-align:left;
}
body {
  font-family: Nunito, sans-serif !important;
}
.login{
  text-align:left !important;
}
.poppin{
  font-family: 'Poppins', sans-serif;
}
.searchform{
  margin:auto;
  width:500px !important;
  max-width:80%;
}

.addButton {
  text-align: right;
  padding: 5px 7px 5px 7px;
  float:right;
  color:black;
  width:10%;
  border-bottom: 1px solid transparent;
  font-size:18px;
  text-decoration: none !important;


  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}
.homebox{

}
.addButton:active {
  color:lightskyblue;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}


.deleteButton{
  display:block;
  border-radius: 0px .20rem .20rem 0 !important;
  height:100% !important;
  color:white;
  background-color:lightgrey;
  border:0 !important;
  padding: 0px 10px;
  margin:0;
}

.deleteButton:hover{
  background-color:grey !important;
  transition:0.2s
}

.deleteButton:active{
  box-shadow: 0px 0px 20px #2b2b2b inset;
  transition:0.2s
}

td{
  padding:0;
  height:0
}


@media screen and (min-width: 768px){
  .recipeSection{
    height:90vh !important
  }
}

@media (min-width: 500px) {
  .recipeColumn {
      column-count: 2 !important;
  }
}

@media (min-width: 730px) {
  .recipeColumn {
      column-count: 3 !important;
  }
}

@media (min-width: 768px) {
  .recipeColumn {
      column-count: 2 !important;
  }
}

@media (min-width: 1000px){
  .recipeColumn {
      column-count: 3 !important;
  }
}

@media (min-width: 1700px){
  .recipeColumn {
      column-count: 4 !important;
  }
}

.navbar{
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0 8px 6px -6px #999;
 
  z-index: 2;
  font-weight: bold;
}
.logo{
  vertical-align: -10px;
}
.navbar-collapse{
  align-items: initial;
}
.navItem{
  font-family: 'Poppins', sans-serif;
  font-weight: 350;
  vertical-align: -6px;
  font-size:16px;
  line-height: 20px;

}

.btn:active,.btn:focus{
  box-shadow:none !important;
  outline:0px !important;
}
.card-title{
  font-family: "Times New Roman", Times, serif;
  text-overflow: ellipsis !important;

  overflow: hidden;
  width:"100px";
  display:block;
  
}
.formtext{
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;

  width: 70%;
  
}

form button{
  float: right;
  width: 30%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}
.centered{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-height: 90vh;
}
.card{


}
.container-fluid{

  
}
h1{
  margin-top:20px;
  font-size:30px;
  font-family:"Arial";
}
.results{
  margin:auto;

  width:100%;
}
